Consulta/WSConsultar/WsPesquisar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://webservice.consulta.spcjava.spcbrasil.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:complexType name="Envio">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Token" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Idade" type="s:int" />
				</s:sequence>
			</s:complexType>
			<s:element name="public_x0020_string_x0020_Consulta02">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Envio" type="tns:Envio" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="public_x0020_string_x0020_Consulta02Response">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="public_x0020_string_x0020_Consulta02Result" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
  
	<wsdl:message name="public_x0020_string_x0020_Consulta02SoapIn">
		<wsdl:part name="parameters" element="tns:public_x0020_string_x0020_Consulta02" />
	</wsdl:message>
	<wsdl:message name="public_x0020_string_x0020_Consulta02SoapOut">
		<wsdl:part name="parameters" element="tns:public_x0020_string_x0020_Consulta02Response" />
	</wsdl:message>
  
	<wsdl:portType name="wsPesquisarSoap">
		<wsdl:operation name="Consulta02">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna STRING</wsdl:documentation>
			<wsdl:input name="public_x0020_string_x0020_Consulta02" message="tns:public_x0020_string_x0020_Consulta02SoapIn" />
			<wsdl:output name="public_x0020_string_x0020_Consulta02" message="tns:public_x0020_string_x0020_Consulta02SoapOut" />
		</wsdl:operation>
	</wsdl:portType>
  
	<wsdl:binding name="wsPesquisarSoap" type="tns:wsPesquisarSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        
		<wsdl:operation name="Consulta02">
			<soap:operation soapAction="http://tempuri.org/public string Consulta02" style="document" />
			<wsdl:input name="public_x0020_string_x0020_Consulta02">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="public_x0020_string_x0020_Consulta02">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
    
	</wsdl:binding>
  
	<wsdl:binding name="wsPesquisarSoap12" type="tns:wsPesquisar">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    
		<wsdl:operation name="Consulta02">
			<soap12:operation soapAction="http://tempuri.org/public string Consulta02" style="document" />
			<wsdl:input name="public_x0020_string_x0020_Consulta02">
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="public_x0020_string_x0020_Consulta02">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
    
	</wsdl:binding>
	<wsdl:service name="wsPesquisar">
		<wsdl:port name="wsPesquisarSoap" binding="tns:wsPesquisarSoap">
			<soap:address location="https://localhost:44388/webservice/consulta.asmx" />
		</wsdl:port>
    <wsdl:port name="wsPesquisarSoap12" binding="tns:wsPesquisarSoap12">
      <soap12:address location="https://localhost:44388/webservice/consulta.asmx" />
    </wsdl:port>
	</wsdl:service>
</wsdl:definitions>